//- includes/foot.pug
footer#footer
  p(align="center" class="w3-center w3-black w3-padding-48 w3-xxlarge") XcooBee Cookie Kit Demonstration Site
  // add XcooBee Cookie Kit Library
  script(id="xcoobee-cookie-kit" src="https://app.xcoobee.net/scripts/kit/xcoobee-cookie-kit.min.js")
  // initialize the library
  script(src="scripts/cookie-kit-init.js")
